body {
    font-family: Arial, sans-serif;
} 
nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 4;
}
h2 {
    padding-top: 109px;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}
h5 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 12px;
    font-size: 23px;
}
main {
    width: 100%;
    height: 100%;
}
.logo {
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}
.menu {
    float: left;
    padding-left: 432px;
}
.dropdown {
    display: none;
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}
.main {
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url("../img/bg.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title__container {
    float: left;
    color: #2c384a;
    text-align: center;
    flex: 0 0 auto;
    width: 74%;
    margin-top: 13rem;
    margin-right: auto;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s;
}
.title__container h1 {
    font-size: 60px;
    font-weight: bold;
}
.title__container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}
.title__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    font-weight: bold;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
}

.about {
    background-color: #fcfdfd;
    width: 100%;
    padding-bottom: 100px;
    color: #263244;
}
.border_top {
    margin-left: calc(50% - 35px);
    padding-top: 31px;
    border-bottom: 4px solid #d17700;
    width: 70px;
}
.image_boy img {
    margin-top: 60px;
    border: 1px solid #fcfdfd;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: calc(50% - 100px);
    margin-bottom: 50px;
}
.about_text {
    margin: 0 auto;
    width: 50%;
    text-align: left;
    color: #3f495a;
    max-width: 750px;
}
.about input {
    margin-left: calc(50% - 78.5px);
    margin-top: 37px;
    height: 34px;
    width: 157px;
    border: 2px solid #6f707e;
    color: #6f707e;
    background: url(../img/download.png) 5% 50% no-repeat;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    padding-left: 15px;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}
.know {
    width: 100%;
    padding-bottom: 100px;
    background: url("../img/bgk.jpg");
    color: #3f495a;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.sign_one, .sign_two, .sign_three, .sign_four {
    float: left;
    width: 285px;
    height: 150px;
    margin-top: 60px;
    margin-right: 9px
}
.sign {
    color: #cf7600;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
}
.container img {
    margin-bottom: 23px;
    width: 55px;
    height: 47px;
}
.case {
    width: 100%;
}
.container_case {
    text-align: center;
    padding-top: 35px;
}
.container_case img {
    padding-top: 39px;
    display: block;
    margin: 0 auto;
    width: 75%;
    max-width: 1000px;
}
.container_bottom {
    padding-top: 46px;
    padding: 46px 400px 0px calc(20% - 11px);
    text-align: start;
    color: #3f495a;
}
.container_left {
    float: left;
    margin-right: 100px;
    line-height: 22px;
}
.container_right {
    line-height: 22px;
}
.container_bottom h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #384354;
}
.container_button input {
    text-transform: uppercase;
    background-color: #63b5ae;
    color: #ffffff;
    border: 2px solid #63b5ae;
    border-radius: 5px;
    padding: 9px 29px;
    font-size: 20px;
    margin-top: 20px;
}
.price {
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
}
.price h3 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5%;
}
.price h4 {
    text-transform: uppercase;
    font-size: 26px;
}
.container_price {
    margin: 0 auto;
    text-align: start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 750px;
    padding: 2%;
    margin-bottom: 30px;
}
.type_site, .design, .adaptability {
    padding-bottom: 50px;
    width: 90%;
    margin: 0 auto;
}
select {
    margin-top: 20px;
    padding: 23px 5% 23px 5%;
    background-color: #eee;
    font-weight: bold;
    width: 100%
}
.border_bottom {
    border: 2px solid #d1d1d1;
    margin-bottom: 23px;
}
.example_price {
    margin-bottom: 20px;
}
.example_text {
    font-weight: bold;
    font-size: 16px;
    float: left;
}
.example_number {
    float: right;
    font-weight: bold;
    font-size: 16px;
}
.container_price input {
    margin: 10% auto 0px auto;
    background-color: #63b5ae;
    color: #fff;
    border: 2px solid #63b5ae;
    border-radius: 5px;
    padding: 9px 29px;
    font-size: 16px;
    display: flex;
}

.statistics {
    width: 100%;
    padding-bottom: 100px;
    background: url("../img/bgs.jpg");
    background-attachment: fixed;
}
.container_s {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 60px;
}
.container_s h4 {
    text-transform: uppercase;
}
.container_s img {
    padding-bottom: 20px;
}
.sign_s_one, .sign_s_two, .sign_s_three, .sign_s_four {
    float: left;
    flex: 0 1 400px;
}
.sign_number {
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 20px;
}
.reviews {
    width: 100%;
    padding-bottom: 100px;
    text-align: center;
}
.reviews img {
    padding-top: 58px;
}
.container_rev {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container_reviews {
    padding-top: 35px;
    padding: 35px 25% 0px 25%;
    line-height: 18px;
}
.boy_2_r {
    padding-top: 35px;
}
.contacts {
    width: 100%;
    background: url("../img/bgc.jpg") left/cover no-repeat;
    text-align: center;
    color: #fff;
    padding-bottom: 100px;
}
.container_cont {
    padding: 31px 23% 0px 23%;
}
.cont_img {
    padding-top: 45px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.img_c {
    padding-bottom: 40px;
    flex: 0 1 342px;
}
.cont_img img {
    padding-bottom: 15px;
}
.geo {
    padding-bottom: 5px;
}
.contacts_container_input {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container_cont h3 {
    text-transform: uppercase;
    font-size: 18px;
    padding-bottom: 40px;
}
[custom_data="name"] {
    border: 1px solid #d4d8de;
    background: none;
    background-color: #d4d8de;
    padding: 10px 13px 13px 13px;
    font-weight: bold;
    width: 48%;
}
[custom_data="mail"] {
    border: 1px solid #d4d8de;
    background: none;
    background-color: #d4d8de;
    padding: 10px 13px 13px 13px;
    font-weight: bold;
    width: 48%;
}
textarea {
    padding: 9px 12px 0px 12px;
    margin-top: 14px;
    background-color: #d4d8de;
    font-weight: bold;
    width: 100%;
}
[custom_data="buttom"] {
    margin: 18px auto;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    background: none;
    padding: 9px 8px;
    font-weight: bold;
}
.map {
    width: 100%;
    height: 352px;
    background: url("../img/map.jpg") center/cover no-repeat;
}
footer {
    width: 100%;
    height: 98px;
    background: #354051;
    color: #dfe1e2;
    text-align: center;
    line-height: 98px;
    font-weight: bold;
}

.menu li a {
    transition: all 0.1s;
    color: #fff;
    transform: scale(1);
    display: inline-block;
}
.menu li a:visited {
    color: #fff;
}
.menu li a:hover {
    color: #e88604;
}
.menu li a:active {
    transform: scale(1.1);
}
.title__container input {
    transition: all 0.2s;
    transform: scale(1);
}
.title__container input:hover {
    background: #344051;
    color: #fff;
}
.title__container input:active {
    transform: scale(1.1);
}

.about input {
    transition: all 0.2s;
    transform: scale(1);
}
.about input:hover {
    background-color: #344051;
    color: #fff;
}
.about input:active {
    transform: scale(1.1);
}

.container_button input {
    transition: all 0.2s;
    transform: scale(1);
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}
.container_button input:hover {
    background-color: #58a29c;
    color: #fff;
}
.container_button input:active {
    transform: scale(1.1);
}

.price input {
    transition: all 0.2s;
    transform: scale(1);
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}
.price input:hover {
    background-color: #58a29c;
    color: #fff;
}
.price input:active {
    transform: scale(1.1);
}

[custom_data="buttom"] {
    transition: all 0.2s;
    transform: scale(1);
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}
[custom_data="buttom"]:hover {
    background-color: #fff;
    color: #000;
}
[custom_data="buttom"]:active {
    transform: scale(1.1);
}

.container img {
    -webkit-animation: topshift 1.5s ease forwards;
    -o-animation: topshift 1.5s ease forwards;
    animation: topshift 1.5s ease forwards;
    opacity: 0;
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-direction: 1s;
    animation-direction: 1s;
    animation-name: animatebottom;
}

.element-animation {
    opacity: 0;
}
.element-animation.show-animation {
    opacity: 1;
    transition: opacity 1s;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#myDir {
    display: none;
    text-align: center;
}
@media (max-width: 991px) {
    .title__container, .title__container h4, .title__container input {
        color: #fff;
        position: relative;
        z-index: 3;
    }
    .title__container {
        width: 100%;
    }
    .title__container input {
        border: 2px solid #fff;
    }
    .main {
        position: relative;
    }
    .main::after {
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
    }
}

@media (max-width: 991px) {
    .menu {
        display: none;
    }
    a {
        text-decoration: none;
    }
    .dropdown {
        display: inline-block;
        position: relative;
        float: right;
        margin-right: 10px;
        margin-top: 5px;
    }
    .dropbtn {
        background: #233548;
        color: #fff;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: #000;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown:hover .dropbtn {
        background: #1b2938;
    }
    .logo {
        float: left;
        padding: 0;
        font-size: 24px;
        margin-left: 10px;
    }
    
    select {
        padding: 23px;
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }
    .price input {
        margin-bottom: 15px;
        margin-top: 35px;
    }
    .sign_s_one, .sign_s_two, .sign_s_three, .sign_s_four {
        margin-bottom: 40px;
    }
    .container_bottom {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 46px 0px 0px 0px;
        text-align: center;
    }
    .container_left {
        margin-right: 0;
    }
    [custom_data="name"] {
        width: 100%;
    }
    [custom_data="mail"] {
        width: 100%;
        margin-top: 14px;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes animatebottom {
    from {
        bottom: -100px; 
        opacity: 0;
    }
    to {
        bottom: 0px;
        opacity: 1;
    }
}
@keyframes animatebottom {
    from {
        bottom: -100px; 
        opacity: 0;
    }
    to {
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes comming {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2) {
    animation-delay: 0.4s;
}
.menu li:nth-child(3) {
    animation-delay: 0.8s;
}
.menu li:nth-child(4) {
    animation-delay: 1.2s;
}
.menu li:nth-child(5) {
    animation-delay: 1.6s;
}
.menu li:nth-child(6) {
    animation-delay: 2s;
}

@keyframes titlemove {
    from {
        opacity: 0;
        margin-left: -500px;
    }
    to {
        opacity: 1;
        margin-left: 0px;
    }
}
